{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}
{% block main %}
    <h1>Manage Account</h1>
    <form action="/account" method="post" class="mb-5">
        <div class="mt-5 mb-3">
            <h3 class="mb-3">Deposit Funds to Your Account</h3>
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" class="symbol" name="deposit" placeholder="Enter Amount" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Add Funds</button>
    </form>
    <a href="/delete">
        <input class="btn btn-secondary mt-5" type="submit" value="Delete Account" />
    </a>
{% endblock %}